
<div>
    <v-btn color="primary" size="small" @click="openConfig">
        config
        <v-dialog v-model="dialog" activator="parent" fullscreen>
            <v-card>
                <v-toolbar dark color="primary">
                    <v-toolbar-title>config</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn variant="text" @click="dialog = false">
                            Cancel
                        </v-btn>

                        <v-btn variant="text" @click="refreshConfigList">
                            Save/Load
                            <v-dialog v-model="SL_dialog" activator="parent" width="50%">
                                <v-card>
                                    <v-card-title class="text-h5">
                                        Save/Load
                                    </v-card-title>
                                    <v-card-text class="overflow-auto" >
                                        <v-list :items="configs" v-model:selected="selected_config" density="compact" select-strategy='single-independent' active-color="primary">
                                        </v-list>
                                    </v-card-text>
                                    <v-card-text>
                                        <v-text-field label="config" v-model="selected_config[0]" variant="outlined"></v-text-field>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="primary" @click="deleteConfig" :disabled="disableDelete" variant="text">Delete</v-btn>
                                        <v-btn color="primary" @click="save" :disabled="disableSave" variant="text">Save</v-btn>
                                        <v-btn color="primary" @click="load" :disabled="disableLoad" variant="text">Load</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-btn>

                        <v-btn variant="text" @click="done">
                            Done
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>

                <v-card-text>
                    <v-textarea auto-grow v-model="config_edited"></v-textarea>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-btn>
</div>
